src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getFlights" doc:id="bdcd69f9-4ca1-439d-872e-bbf73d74c2be" >
		<http:listener doc:name="GET /flights" doc:id="20912d47-65a5-47f5-bc9e-c2bdfe592a60" config-ref="HTTP_Listener_config" path="/flights" />
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="c67ff82f-70aa-45a6-a6e5-5cdfe006ae5a" variableName="airline"/>
		<flow-ref doc:name="setCode" doc:id="e0d1dd84-715b-4f85-95ae-989b317447d3" name="setCode"/>
		<validation:is-true doc:name="Is valid destination" doc:id="fe18e04d-651c-475b-a7af-a702f9ec35bf" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]"/>
		<choice doc:name="Choice" doc:id="6d9d7566-2fc1-490d-8fa8-4f952b5f5b79" >
			<when expression='vars.airline == "american"'>
				<flow-ref doc:name="getAmericanflights" doc:id="28762947-6d63-42d6-80f7-d380fea582ec" name="getAmericanflights"/>
			</when>
			<when expression='vars.airline == "united"'>
				<flow-ref doc:name="getUnitedFlights" doc:id="05f91afb-de9a-4e0a-9d86-ba3b24c6480a" name="getUnitedFlights"/>
			</when>
			<when expression='vars.airline == "delta"'>
				<flow-ref doc:name="getDeltaFlights" doc:id="a3985c8b-6439-48ae-bff1-26cf73e87522" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="10c8e238-9a65-4739-9770-122b8b7281b6" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flights to JSON" doc:id="b30a1647-03b2-4f5e-bf7a-0bfcf0c346bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="63dafc2d-10bc-4d57-a0ef-65aa8c597036" />
	</flow>
	<flow name="getAllAirlineFlights" doc:id="f28c644b-2a98-429f-beaa-6a4faf689569" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="163f1d3b-0b04-446e-bfb2-8f9bd4561fd2" >
			<route >
				<flow-ref doc:name="getAmericanflights" doc:id="1a69b264-1778-4550-851e-d4d3f2edb7a0" name="getAmericanflights"/>
			</route>
			<route >
				<flow-ref doc:name="getUnitedFlights" doc:id="9871c4e5-4b39-43c6-8d92-2d2967b04e69" name="getUnitedFlights"/>
			</route>
			<route >
				<flow-ref doc:name="getDeltaFlights" doc:id="9f6cdb34-bd41-4279-8142-9d526913687f" name="getDeltaFlights"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="flatten to [Flights]" doc:id="5b71f892-5239-4a72-aba7-10ab3a5a1f44" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7d3eaa39-305b-4a66-b4a3-a2056c880592" />
	</flow>
	<sub-flow name="setCode" doc:id="e58e6f69-2741-4619-8ebf-a8c9560a2ac9" >
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="cb6de6fd-f6f3-4b90-92e9-af3aebfaf266" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanflights" doc:id="bcb2ee3a-de32-4057-ab1d-52d6130b837e" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="b2ac8313-b1a2-4a4d-9644-a828159d864c" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="Transform Message" doc:id="9ebd6f88-c0b2-4e9e-b421-fcb29f432453" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "american",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2db84358-8760-440a-84b0-34c06ee6f309" />
	</flow>
	<flow name="getUnitedFlights" doc:id="a442341c-3e97-4e04-873c-61fb8195363b" >
		<http:request method="GET" doc:name="Get flights" doc:id="0a2d5312-7e3c-4f93-b9e8-45a05d7a02d6" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="99bca50e-ebe8-45c4-b693-9ced3b229d70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9c8a5f89-978e-40fc-a100-06b66900e214" />
	</flow>
	<flow name="getDeltaFlights" doc:id="8d37371e-a29b-4691-b742-cc4498bb71bf" >
		<ee:transform doc:name="Transform Message" doc:id="b8110d38-66a3-4ff5-bb15-cae38533993a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="GET/flights" doc:id="d761ef1d-38e0-46b9-a8d8-688f7a243424" config-ref="Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to JSON" doc:id="4d335f75-f043-4562-808c-c77ea0fa6ce4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="12b0fce6-7c20-4d62-8994-d681fae2be0f" />
	</flow>
</mule>
